#ravintolaValikko {
    width: 100%;
}

#ravintolaValikko  li {
    background-color: #216477;
    list-style: none;
    padding: 1px;
    margin: 1%;
    display: flex;
    justify-content: space-between;
    }

#ravintolaValikko li a {
    width: 30%;
}

#ravintolaValikko h4 {
    text-align: center;
}
#ravintolaValikko li p {
   width: 30%;
   margin-left: 20%;
}