html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 2%;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: space-between;
}
s ssmain {
  margin: 2%;
  border: solid black;
  padding: 2rem;
  text-align: center;
}

/*NavBar styles*/
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #216477;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.nav-bar-list {
  float: left;
  border-right: 1px solid #bbb;
}
.nav-bar-list-right {
  float: right;
  border-left: 1px solid #bbb;
}

.list-a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

.list-a a:hover {
  background-color: #12313a;
}
/*NavBar styles*/

/* For mobile phones: */
@media only screen and (max-width: 620px) {
  .list-a a:hover,
  .list-a,
  .nav-bar-list,
  .nav-bar {
    width: 100%;
    border-bottom: 1px solid #bbb;
    text-align: left;
  }
  .nav-bar-list-right {
    width: 100%;
    border-bottom: 1px solid #bbb;
    text-align: left;
  }
}
/* For mobile phones: */

/* For tablets*/
@media only screen and (max-width: 960px) {
  .list-a a:hover,
  .list-a,
  .nav-bar-list,
  .nav-bar {
    width: 100%;
    border-bottom: 1px solid #bbb;
    text-align: left;
  }
  .nav-bar-list-right {
    width: 100%;
    border-bottom: 1px solid #bbb;
    text-align: left;
  }
}
/* For tablets*/
